@using System.Text
<!DOCTYPE html>
<html>
<head>
	<title>
		@if (Doc.DocHeader?.Title is InlineLiteral lit) {
			<InlineLiteralView Literal="lit"/>
		}
	</title>
</head>
<body>
	@foreach (var block in Doc.Blocks ?? Enumerable.Empty<Block>())
	{
		@if (block is LeafBlock leaf)
		{
			<LeafBlockView Leaf="leaf"/>
		}
	})
</body>
</html>

@code {
	[Parameter]
	public required Document Doc { get; set; }
}